<Jumbo>
    <h2>Welcome to Super Rentals</h2>
    <p>we hope that you find thr property you are looking forwards to.</p>
    <LinkTo @route="about" class='button'>About Us</LinkTo>
</Jumbo>
<h1>{{@model.title}}</h1>



<div class="rentals">
    <ul class="results">
        <li>
            <Rental @rental={{@model}} />
        </li>
        <li>
            <Rental @rental={{@model}} />
        </li>
        <li>
            <Rental @rental={{@model}} />
        </li>
        <li>
            <Rental @rental={{@model}} />
        </li>
    </ul>
</div>